
#waybar {
    background-color: rgba(30, 30, 30, 1);
    color: #ffffff;
    border-top: 2px solid rgba(100, 100, 100, 0.5);
    font-family: Roboto, sans-serif;
    font-size: 14px;
} #waybar > * {
    padding: 0 10px;
    margin: 0 3px;
}

#taskbar button {
    padding: 0px 10px;
} #taskbar button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    text-shadow: none;
    box-shadow: none;
} #taskbar button.active {
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    margin: 0 2px;
} #workspaces button.active {
    background-color: rgb(105, 105, 105);
    font-weight: bold;
} #workspaces button:hover {
    background: rgb(55, 55, 55);
    border-color: rgba(0, 0, 0, 0);
    text-shadow: none;
    box-shadow: none;
}

#custom-cava {
    font-family: "0xProto Nerd Font";
    font-size: 18px;
    color: #FFFFFF;
    padding: 0 10px;
} #clock, #custom-music {
    margin-right: 10px;
    border-radius: 5px;
} #bluetooth, #network {
    margin-right: 10px;
    border-radius: 5px;
}